<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.min.css" />
    <link rel="stylesheet" href="/css/paper-dashboard.css" />
    <!-- <link
      type="text/css"
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"
    /> -->
    <!-- fontawesome -->
    <script src="/js/jquery-1.10.2.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"
    ></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/login-register.js"></script>
    <script src="/js/bootstrap-notify.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div th:replace="inc/sidebar :: sidebar"></div>
      <div class="main-panel">
        <div class="content">
          <div th:replace="inc/dashboardCard :: dashboardCard"></div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Beneficiaries</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="beneftable" class="table">
                        <thead class="text-primary">
                            <th>
                              First Name
                            </th>
                            <th>
                              Last Name
                            </th>
                            <th>
                              Phone
                            </th>
                            <th>
                              Other Mean Contact
                            </th>
                            <th>
                              Status
                            </th>
                            <th>
                              Gender
                            </th>
                            <th>
                              Age
                            </th>
                            <th>
                              Disability
                            </th>
                            <th>
                              Reason of Intervention
                            </th>
                            <th>
                              Added By
                            </th>
                            <th>
                              Actions
                            </th>
                          </thead>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script th:inline="javascript">
      $(document).ready(function () {
        var table = $("#beneftable").DataTable({
          sAjaxSource: "/api/beneficiaries",
          sAjaxDataProp: "",
          columns: [
            { data: "beneficiary.firstName" },
            { data: "beneficiary.lastName" },
            { data: "beneficiary.phone" },
            { data: "beneficiary.otherMeansOfContact" },
            { data: "beneficiary.status" },
            { data: "beneficiary.gender" },
            { data: "beneficiary.age" },
            { data: "beneficiary.disability" },
            { data: "beneficiary.reasonOfIntervention" },
            { data: "user.username" },
            {
              mRender: function (data, type, row) {
                return (
                  '<div class="btn-group"><a class="btn btn-outline-dark btn-sm" href=add.html?id="' +
                  row.id +
                  '">Edit</a> <a class="btn btn-outline-dark btn-sm" href=add.html?id="' +
                  row.id +
                  '">Delete</a></div>'
                );
              },
              searchable: false,
            },
          ],
          sdefaultContent: "<button>Click!</button>",
        });
      });
    </script>
  </body>
</html>
