<div th:fragment="dashboardCard" class="row">
  <!-- ADMIN -->
  <div sec:authorize="hasAuthority('ROLE_ADMIN')" class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-circle-10 text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Users</p>
              <p class="card-title">[(${session.cardData.allUsers})]</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <a th:if="${#httpServletRequest.getRequestURI() == '/admin/user'}" style="text-decoration: none;" href="#" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-refresh"></i>
            Add User
          </a>
          <div th:unless="${#httpServletRequest.getRequestURI() == '/admin/user'}">
            All Users
          </div>
        </div>
      </div>
    </div>
  </div>
  <div sec:authorize="hasAuthority('ROLE_ADMIN')" class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-briefcase-24 text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Project</p>
              <p class="card-title">[(${session.cardData.allProjects})]</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <a th:if="${#httpServletRequest.getRequestURI() == '/admin/project'}" style="text-decoration: none;" href="#" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-refresh"></i>
            Add Project
          </a>
          <div th:unless="${#httpServletRequest.getRequestURI() == '/admin/project'}">
            All Projects
          </div>
        </div>
      </div>
    </div>
  </div>
  <div sec:authorize="hasAuthority('ROLE_ADMIN')" class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-single-02 text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Beneficiaries</p>
              <p class="card-title">23</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <i class="fa fa-clock-o"></i>
          All Beneficiaries
        </div>
      </div>
    </div>
  </div>
  <div sec:authorize="hasAuthority('ROLE_ADMIN')" class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Lorem</p>
              <p class="card-title">45</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <i class="fa fa-refresh"></i>
          Lorem ipsum
        </div>
      </div>
    </div>
  </div>

  <!-- User -->
  <div sec:authorize="hasAuthority('ROLE_USER')" class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-circle-10 text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Beneficiaries</p>
              <p class="card-title">[(${session.cardData.allBeneficiaries})]</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <a th:if="${#httpServletRequest.getRequestURI() == '/users'}" style="text-decoration: none;" href="#" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-refresh"></i>
            Add Beneficiaries
          </a>
          <div th:unless="${#httpServletRequest.getRequestURI() == '/users'}">
            All Beneficiaries
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
