<div th:fragment="sidebar" class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="/admin" class="p-0 m-0 heading-1 text-center simple-text logo-normal">
        <h4>BRS</h4>
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <!-- ADMIN -->
        <li sec:authorize="hasAuthority('ROLE_ADMIN')" th:classappend="${#httpServletRequest.getRequestURI() == '/admin' ? 'active':''}">
          <a href="/admin">
            <i class="nc-icon nc-bank"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li sec:authorize="hasAuthority('ROLE_ADMIN')" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/user' ? 'active':''}">
          <a href="/admin/user">
            <i class="nc-icon nc-circle-10"></i>
            <p>Users</p>
          </a>
        </li>
        <li sec:authorize="hasAuthority('ROLE_ADMIN')" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/beneficiary' ? 'active':''}">
          <a href="/admin/beneficiary">
            <i class="nc-icon nc-single-02"></i>
            <p>Beneficiaries</p>
          </a>
        </li>
        <li sec:authorize="hasAuthority('ROLE_ADMIN')" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/project' ? 'active':''}">
          <a href="/admin/project">
            <i class="nc-icon nc-briefcase-24"></i>
            <p>Projects</p>
          </a>
        </li>
        <!-- USER -->
        <li sec:authorize="hasAuthority('ROLE_USER')" th:classappend="${#httpServletRequest.getRequestURI() == '/users' ? 'active':''}">
          <a href="/users">
            <i class="nc-icon nc-bank"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="active-pro">
          <a href="/logout">
            <i class="nc-icon nc-spaceship"></i>
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </div>
  </div>