<div th:fragment="createBeneficiary">
      <div class="row">
        <div class="col-md-6 pr-1">
          <div class="form-group">
            <label>First Name</label>
            <input
            type="text"
              class="form-control"
              placeholder="First Name"
            />
          </div>
        </div>
        <div class="col-md-6 pl-1">
          <div class="form-group">
            <label>Last Name</label>
            <input
            type="text"
              class="form-control"
              placeholder="Last Name"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pr-1">
          <div class="form-group">
            <label>Gender</label>
            <input
            type="text"
              class="form-control"
              placeholder="gender"
            />
          </div>
        </div>
        <div class="col-md-6 pl-1">
          <div class="form-group">
            <label>Age</label>
            <input
            type="text"
              class="form-control"
              placeholder="Age"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pr-1">
          <div class="form-group">
            <label>Phone</label>
            <input
            type="text"
              class="form-control"
              placeholder="Phone"
            />
          </div>
        </div>
        <div class="col-md-6 pl-1">
          <div class="form-group">
            <label>Other means of contact</label>
            <input
            type="text"
              class="form-control"
              placeholder="Other means of contact"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Disability</label>
            <div class="row">
                <div class="col-md-3 pr-1">
                  <div class="form-group">
                    <input type="checkbox" id="disability1" name="disability1" value="arm">
                    <label for="vehicle1">no arm</label><br>
                  </div>
                </div>
                <div class="col-md-3 pl-1">
                  <div class="form-group">
                    <input type="checkbox" id="disability2" name="disability2" value="feet">
                    <label for="vehicle1"> no feet</label><br>
                  </div>
                </div>
                <div class="col-md-3 pr-1">
                  <div class="form-group">
                    <input type="checkbox" id="disability1" name="disability1" value="arm">
                    <label for="vehicle1">no arm</label><br>
                  </div>
                </div>
                <div class="col-md-3 pl-1">
                  <div class="form-group">
                    <input type="checkbox" id="disability2" name="disability2" value="feet">
                    <label for="vehicle1"> no feet</label><br>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Reason of intervention</label>
            <div class="row">
                <div class="col-md-3 pr-1">
                  <div class="form-group">
                    <input type="checkbox" id="disability1" name="disability1" value="arm">
                    <label for="vehicle1">no arm</label><br>
                  </div>
                </div>
                <div class="col-md-3 pl-1">
                  <div class="form-group">
                    <input type="checkbox" id="disability2" name="disability2" value="feet">
                    <label for="vehicle1"> no feet</label><br>
                  </div>
                </div>
                <div class="col-md-3 pr-1">
                  <div class="form-group">
                    <input type="checkbox" id="disability1" name="disability1" value="arm">
                    <label for="vehicle1">no arm</label><br>
                  </div>
                </div>
                <div class="col-md-3 pl-1">
                  <div class="form-group">
                    <input type="checkbox" id="disability2" name="disability2" value="feet">
                    <label for="vehicle1"> no feet</label><br>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
          <button type="submit" class="btn btn-primary btn-sm">
            Create User
          </button>
          </div>
        </div>
      </div>
</div>