<div th:fragment="createProject">
  <div class="row">
    <div class="col-md-6 pr-1">
      <div class="form-group">
        <label>Project Name</label>
        <input
          th:field="*{name}"
          type="text"
          class="form-control"
          placeholder="Project Name"
        />
      </div>
    </div>
    <div class="col-md-6 pl-1">
      <div class="form-group">
        <label>Project Area of Intervention</label>
        <input
          th:field="*{areaOfIntervention}"
          type="text"
          class="form-control"
          placeholder="Project Area of Intervention"
        />
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-4 pl-1">
      <div class="form-group">
        <label>Project's Manager</label>
        <input
          th:field="*{manager}"
          type="text"
          class="form-control"
          placeholder="Project's Manager"
        />
      </div>
    </div>
    <div class="col-md-4 pr-1">
      <div class="form-group">
        <label>Manager Phone</label>
        <input
          th:field="*{managerPhone}"
          type="text"
          class="form-control"
          placeholder="Manager Phone Number"
        />
      </div>
    </div>
    <div class="col-md-4 pl-1">
      <div class="form-group">
        <label>Manager Email</label>
        <input
          th:field="*{managerEmail}"
          type="text"
          class="form-control"
          placeholder="Manager Email"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-sm">
          Create Project
        </button>
      </div>
    </div>
  </div>
</div>
